In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import streamlit as st

In [2]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

WARNING:tensorflow:From e:\End to end DL project\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [3]:
df = pd.read_csv("E:\End to end DL project\Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [8]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.nunique()

RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

In [10]:
df.drop(columns=["RowNumber", "CustomerId", "Surname"], axis=1, inplace=True)

In [11]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
df.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [13]:
df["Geography"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [14]:
gender_encoder = LabelEncoder()
df["Gender"] = gender_encoder.fit_transform(df["Gender"])
df["Gender"]

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender, Length: 10000, dtype: int32

In [15]:
from sklearn.preprocessing import OneHotEncoder
geo_encoder = OneHotEncoder()
geo_encoded = geo_encoder.fit_transform(df[["Geography"]])
geo_encoder

OneHotEncoder()

In [16]:
columns = geo_encoder.get_feature_names_out(["Geography"])

In [17]:
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(), columns = columns)
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [18]:
df = pd.concat([geo_encoded_df, df],axis=1)
df

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,0.0,0.0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,0.0,0.0,1.0,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,1.0,0.0,0.0,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,1.0,0.0,0.0,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,0.0,0.0,1.0,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,1.0,0.0,0.0,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,1.0,0.0,0.0,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,0.0,1.0,0.0,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,1.0,0.0,0.0,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [19]:
df.drop("Geography", axis=1, inplace=True)

In [20]:
df

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,0.0,0.0,619,0,42,2,0.00,1,1,1,101348.88,1
1,0.0,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58,0
2,1.0,0.0,0.0,502,0,42,8,159660.80,3,1,0,113931.57,1
3,1.0,0.0,0.0,699,0,39,1,0.00,2,0,0,93826.63,0
4,0.0,0.0,1.0,850,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,771,1,39,5,0.00,2,1,0,96270.64,0
9996,1.0,0.0,0.0,516,1,35,10,57369.61,1,1,1,101699.77,0
9997,1.0,0.0,0.0,709,0,36,7,0.00,1,0,1,42085.58,1
9998,0.0,1.0,0.0,772,1,42,3,75075.31,2,1,0,92888.52,1
9999,1.0,0.0,0.0,792,0,28,4,130142.79,1,1,0,38190.78,0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geography_France   10000 non-null  float64
 1   Geography_Germany  10000 non-null  float64
 2   Geography_Spain    10000 non-null  float64
 3   CreditScore        10000 non-null  int64
 4   Gender             10000 non-null  int32
 5   Age                10000 non-null  int64
 6   Tenure             10000 non-null  int64
 7   Balance            10000 non-null  float64
 8   NumOfProducts      10000 non-null  int64
 9   HasCrCard          10000 non-null  int64
 10  IsActiveMember     10000 non-null  int64
 11  EstimatedSalary    10000 non-null  float64
 12  Exited             10000 non-null  int64
dtypes: float64(5), int32(1), int64(7)
memory usage: 976.7 KB

In [22]:
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(gender_encoder, file)
with open("onehot_encoder_geography.pkl", "wb") as file:
    pickle.dump(geo_encoder, file)

In [23]:
X = df.drop("Exited", axis=1)
y = df["Exited"]

In [24]:
X

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1.0,0.0,0.0,619,0,42,2,0.00,1,1,1,101348.88
1,0.0,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58
2,1.0,0.0,0.0,502,0,42,8,159660.80,3,1,0,113931.57
3,1.0,0.0,0.0,699,0,39,1,0.00,2,0,0,93826.63
4,0.0,0.0,1.0,850,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,771,1,39,5,0.00,2,1,0,96270.64
9996,1.0,0.0,0.0,516,1,35,10,57369.61,1,1,1,101699.77
9997,1.0,0.0,0.0,709,0,36,7,0.00,1,0,1,42085.58
9998,0.0,1.0,0.0,772,1,42,3,75075.31,2,1,0,92888.52
9999,1.0,0.0,0.0,792,0,28,4,130142.79,1,1,0,38190.78

In [25]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 12), (2000, 12), (8000,), (2000,))

In [27]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [28]:
X_train

array([[ 1.00150113, -0.57946723, -0.57638802, ...,  0.64920267,
         0.97481699,  1.36766974],
       [-0.99850112,  1.72572313, -0.57638802, ...,  0.64920267,
         0.97481699,  1.6612541 ],
       [-0.99850112, -0.57946723,  1.73494238, ...,  0.64920267,
        -1.02583358, -0.25280688],
       ...,
       [ 1.00150113, -0.57946723, -0.57638802, ..., -1.54035103,
        -1.02583358, -0.1427649 ],
       [ 1.00150113, -0.57946723, -0.57638802, ...,  0.64920267,
        -1.02583358, -0.05082558],
       [-0.99850112,  1.72572313, -0.57638802, ...,  0.64920267,
         0.97481699, -0.81456811]])

In [29]:
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler, file)

In [31]:
X_train.shape[1]

12

In [30]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [32]:
model = tf.keras.Sequential([
    tf.keras.Input(shape=(X_train.shape[1], )), ##INPUT LAYER
    tf.keras.layers.Dense(64, activation="relu"), ##HL1
    tf.keras.layers.Dense(32, activation="relu"), ##HL2
    tf.keras.layers.Dense(1, activation="sigmoid") ##OUPUT LAYER

])

WARNING:tensorflow:From e:\End to end DL project\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [33]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
model.compile(loss=tf.keras.losses.BinaryCrossentropy(),
              optimizer = tf.keras.optimizers.Adam(learning_rate=0.01),
              metrics=["accuracy"])

In [35]:
log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [36]:
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [37]:
early_Stopping = EarlyStopping(monitor="val_loss", patience=5, restore_best_weights=True)

In [38]:
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, callbacks=[tensorflow_callback, early_Stopping])

Epoch 1/100
WARNING:tensorflow:From e:\End to end DL project\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From e:\End to end DL project\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 2ms/step - loss: 0.3983 - accuracy: 0.8349 - val_loss: 0.3564 - val_accuracy: 0.8610
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3546 - accuracy: 0.8559 - val_loss: 0.3566 - val_accuracy: 0.8440
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3462 - accuracy: 0.8554 - val_loss: 0.3531 - val_accuracy: 0.8560
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8600 - val_loss: 0.3465 - val_accuracy: 0.8565
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3414 - accuracy: 0.8594 - val_loss: 0.3373 - val_accuracy: 0.8620
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8629 - val_loss: 0.3453 - val_accuracy: 0.8615
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8610 - val_loss: 0.3409 - val_accuracy: 0.8580
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8608 - val_loss: 0.3361 - val_accuracy: 0.8625
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3279 - accuracy: 0.8669 - val_loss: 0.3416 - val_accuracy: 0.8570
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3297 - accuracy: 0.8614 - val_loss: 0.3434 - val_accuracy: 0.8620
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8621 - val_loss: 0.3488 - val_accuracy: 0.8585
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3283 - accuracy: 0.8626 - val_loss: 0.3418 - val_accuracy: 0.8595
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3238 - accuracy: 0.8641 - val_loss: 0.3399 - val_accuracy: 0.8615

In [39]:
model.save("model.h5")

In [40]:
%load_ext tensorboard

In [44]:
%tensorboard --logdir logs/fit20250331-110940

Reusing TensorBoard on port 6007 (pid 18880), started 0:00:44 ago. (Use '!kill 18880' to kill it.)